<div class="center jumbotron">
    <h1>Webinar</h1>
    <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge"%>
</div>

<%= link_to 'Myblog', articles_path%> | <%= link_to 'About', about_path %>